---
import { email, location, links } from "@/data.json";
---

<div id="contact">
  <section>
    <div class="container">
      <!-- <h1>Achievement </h1> -->
      
    </div>
  </section>
</div>

<style>
  
</style>

<script>
 
</script>
<!-- <script>
  window.onload = function() {
      // Reset the form fields when the page loads
      document.getElementById("form").reset();
  };
</script> -->
